manger/bin/Debug/net6.0/manger.dll
manger/bin/Debug/net6.0/manger.exe
manger/bin/Debug/net6.0/manger.pdb
manger/obj/manger.csproj.nuget.dgspec.json
manger/obj/manger.csproj.nuget.g.props
manger/obj/manger.csproj.nuget.g.targets
manger/obj/project.nuget.cache
manger/obj/staticwebassets.pack.sentinel
manger/obj/Debug/net6.0/manger.AssemblyInfo.cs
manger/obj/Debug/net6.0/manger.assets.cache
manger/obj/Debug/net6.0/manger.csproj.AssemblyReference.cache
manger/obj/Debug/net6.0/manger.csproj.CoreCompileInputs.cache
manger/obj/Debug/net6.0/manger.csproj.FileListAbsolute.txt
manger/obj/Debug/net6.0/manger.dll
manger/obj/Debug/net6.0/manger.GeneratedMSBuildEditorConfig.editorconfig
manger/obj/Debug/net6.0/manger.genruntimeconfig.cache
manger/obj/Debug/net6.0/manger.MvcApplicationPartsAssemblyInfo.cs
manger/obj/Debug/net6.0/manger.pdb
manger/obj/Debug/net6.0/ref/manger.dll
manger/obj/Debug/net6.0/refint/manger.dll
